[submodule "vendor/react-native-actionsheet"]
	path = vendor/react-native-actionsheet
	url = git@github.com:mobitar/react-native-actionsheet.git
[submodule "vendor/react-native-flag-secure-android"]
	path = vendor/react-native-flag-secure-android
	url = git@github.com:mobitar/react-native-flag-secure-android.git
[submodule "vendor/react-native-navigation"]
	path = vendor/react-native-navigation
	url = git@github.com:mobitar/react-native-navigation.git
[submodule "vendor/react-native-fab"]
	path = vendor/react-native-fab
	url = git@github.com:mobitar/React-Native-FAB.git
[submodule "vendor/react-native-search-box"]
	path = vendor/react-native-search-box
	url = git@github.com:mobitar/react-native-search-box.git
[submodule "vendor/TrustKit"]
	path = vendor/TrustKit
	url = git@github.com:datatheorem/TrustKit.git
[submodule "ios/Pods/react-native-fingerprint-scanner"]
	path = ios/Pods/react-native-fingerprint-scanner
	url = git://github.com/bryvin/react-native-fingerprint-scanner.git
	branch = rn-upgrade
[submodule "ios/Pods/react-native-alternate-icons"]
	path = ios/Pods/react-native-alternate-icons
	url = git://github.com/bryvin/react-native-alternate-icons.git
